
/* giving errors, cant find issue */
@font-face {
    font-family: 'ComicPapyrus';
    src: url('/fonts/ComicPapyrus.eot') format('embedded-opentype'),  url('/fonts/ComicPapyrus.woff') format('woff'), url('/fonts/ComicPapyrus.ttf')  format('truetype'), url('/fonts/ComicPapyrus.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

nav {font-family: Helvetica, Arial, sans-serif;
    font-size: 1.75em;
    text-decoration: none;
    color:white;
}
/* fixed nav links */
nav ul a:link {color: slateblue;}

nav ul a:visited { color: white;}

nav ul a:hover{background-color: black;}

h1 {font-size: 2.5em;
font-style: italic;
font-family: 'ComicPapyrus', 'Courier New', Courier, monospace;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* images given borders */
img {
    padding: .5px;
    border: 1px solid #021a40;
}

main {
    text-align: center;
    font-family: 'ComicPapyrus', 'Courier New', Courier, monospace;
}

footer{
    background-image: linear-gradient( grey, black);
}

footer p{color: snow;
text-align: right;
font-weight: bold;
margin-right: 5px;
}

header {
    background-color: grey;
    max-width: 900px;
    margin: 10px auto 10px auto;
    padding: 5px;
}

/* image grid
FIX IF POSSIBLE */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* image grid */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    object-fit: cover;
    width: 40%;
    max-height: 100%;

  }
/* If there is a problem, plz delete this */
  #cont {

      overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;

  }


  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  #cont2 {font-size: 108%}

  #head {font-size: 115%;
font-weight: bold;
}

#head2 {font-size: 120%;}


/* fix header navigation */
ul {
list-style-type: none;
}